.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.user {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 30px;
  border-radius: 5px;
}

.user-review {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 30px;
  border-radius: 5px;
}

.user-board {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 30px;
  border-radius: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.star-left-full {
  width: 10px;
  height: 25px;
  border: 0px;
  background-image: url(./components/review/왼꽉.png);
  background-size: cover;
  background-color: transparent;
}

.star-left-empty {
  width: 10px;
  height: 25px;
  border: 0px;
  background-image: url(./components/review/왼빈.png);
  background-size: cover;
  background-color: transparent;
}

.star-right-full {
  width: 10px;
  height: 25px;
  border: 0px;
  background-image: url(./components/review/오꽉.png);
  background-size: cover;
  background-color: transparent;
}

.star-right-empty {
  width: 10px;
  height: 25px;
  border: 0px;
  background-image: url(./components/review/오빈.png);
  background-size: cover;
  background-color: transparent;
}
